# Executable fils
a.out
cpp00/ex00/megaphone
cpp00/ex00/phonebook
cpp00/ex00/booking
cpp01/**/zombies
cpp01/ex04/replace
cpp01/ex05/complain
cpp01/ex06/harlFilter

cpp09/**/btc
cpp09/**/RPN
cpp09/**/PmergeMe

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
